.App {
  padding-top: 1rem;
  text-align: center;
}

.App-logo {
  height: 80px;
}

h2 {
  margin: .5rem auto;
}

.App-header {
  background-color: saddlebrown;
  background-image: url('https://www.transparenttextures.com/patterns/clean-gray-paper.png');
  box-shadow: 3px 2px 10px black;
  color: black;
  height: 150px;
  margin: 0 auto;
  max-width: 933px;
  outline: 1px solid darkgrey;
  padding: 20px;
  position: relative;
}

.App-intro {
  font-size: large;
}

.active {
  border-right: 1px solid;
  outline: none;
}

.active:active {
  border-bottom: 1px solid;
  transform: translateY(2px);
}

.first {
  padding-bottom: 25px;
  color: darkblue;
  display: flex;
  font-family: cursive;
  font-size: 24px;
  justify-content: center;
  line-height: 1.08;
}

.fa {
  margin-left: 20px;
  margin-right: 50px;
  margin-top: -3px;
  visibility: hidden;
}

.first:hover .fa {
  visibility: visible;
}

span {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
}

.fa:hover {
  color: crimson;
  cursor: pointer;
  /*cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA66TnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgAAAC4AAABuAAAA4AAAAdwAAAO4AAAHcAAABuAAAAXAAAADgAAAAAAAAA///////////////////////////////////////////////////////////////////////////////////////////////////////////+D////A////gP///wD///4A///8Af//+AP///AH///wD///8B////A////wf///8='), auto;*/
}

span:hover {
  cursor: pointer;
  font-weight: bolder;
  text-decoration: line-through;
}

i:hover ~ span {
  color: crimson;
  font-weight: bolder;
}

.first:first-of-type {
  padding-top: 43px;
}

@media (max-width: 990px) {
  .App {
    padding: 0;
  }
  .App-logo {
    height: 50px;
  }
}

@media (max-width: 425px) {
  h2 {
    margin: .5rem auto;
  }

  .App-header {
    padding: .5rem;
  }
}
