body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

div#root {
  background-color: #A37838;
  background-image: url('https://www.transparenttextures.com/patterns/tileable-wood-colored.png');
  background-position: center;
  height: 1400px;
}
